* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(138, 180, 180);
    font-size: 16px;
}

table{
    padding: 2%;
}
caption{
    background-color: rgb(3, 59, 82);
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
}

label {
    color: black;
    font-weight: 600;
}

.botao1 {
    width: 60px;
    height: 25px;
    cursor: pointer;
    background-color: rgb(90, 37, 139);
    color: gray;
    border-radius: 5px;
}


